@import "./resets";
@import "./colors";
@import "./cart.scss";
@import "./products";

html {
  font-size: 62.5%;
}

body {
  height: 100vh;
  font-size: 1.6rem;
}

@mixin display-flex {
  display: flex;
}

@mixin box-shadow {
  box-shadow: 2px 13px 12px -6px #ccc;
}
.button {
  color: $White-color;
  background-color: $Primary-color;
  min-width: 95px;
  border: $Primary-color;
  padding: 10px;
}

.btn-anchor {
  text-decoration: none;
  color: $White-color;
}

#main-container {
  max-width: 1200px;
  margin: 20px auto;
  min-height: 300px;
}
.header {
  &-container {
    box-shadow: 2px 13px 12px -6px #ccc;
  }

  &-container {
    @include display-flex;
    max-width: 100%;
    margin: 0 auto;
    padding: 10px 0;
  }

  &-content {
    @include display-flex;
    flex-direction: column;
    width: 100%;
  }

  &-menus {
    @include display-flex;
    justify-content: space-between;
  }
  &-menu-items {
    align-self: center;
  }
  &-image {
    margin-right: 45px;
  }
  &-menu-item {
    text-decoration: none;
    color: #807a7d;
    font-weight: 600;
    margin-right: 20px;
  }
  &-cart-container {
    @include display-flex;
    background-color: $Background-color;
    padding: 10px 20px;
  }
}

.signin-container {
  align-self: flex-end;

  > a {
    text-decoration: none;
    color: #363333;
    font-size: 12px;
  }
}

.cart {
  filter: invert(23%) sepia(72%) saturate(2656%) hue-rotate(310deg)
    brightness(86%) contrast(88%);
}

footer {
  background-color: $Background-color;
}

.footer {
  @include display-flex;
  max-width: 1080px;
  margin: 0 auto;
}

/* Home Screen*/

.card-container {
  margin: 0;
  padding: 0;
}

.cat-card {
  @include display-flex;
  @include box-shadow;
  justify-content: space-between;
  padding: 25px;

  &:nth-of-type(even) {
    flex-direction: row-reverse;
  }

  &:last-child {
    box-shadow: none;
  }
}

.card-content-div {
  text-align: center;
  align-self: center;
}

.card-image {
  max-width: 40%;
  height: auto;
  align-self: center;
}

/* Product Screen*/

.products-container {
  @include display-flex;

  /* flex-wrap: wrap; */
}

.product-categories {
  background-color: $Background-color;
  padding: 0;
  margin: 0px;
  list-style: none;
}

.category-li {
  border-bottom: 1px solid grey;
  padding: 10px;
  width: 215px;
}

.category-anchor-btn {
  text-decoration: none;
  color: inherit;
}

.active-product {
  color: $White-color !important;
  background-color: $Primary-color;
}

.product-container {
  @include display-flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}

.product-card {
  @include display-flex;
  flex-direction: column;
  height: auto;
  width: 200px;
  padding: 7px;
  margin: 7px;
  @include box-shadow;
}

.product-image {
  height: 200px;
  align-self: center;
}

.product-des {
  background-color: $Background-color;
  height: 100px;
  overflow: scroll;
  text-overflow: ellipsis;
}
.slideshow-container {
  max-width: 1100px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 1;
}
.prev,
.next {
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 0.1;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

#overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}

.header-cart-container {
  cursor: pointer;
}

// signin styles
.login-container {
  display: flex;
  justify-content: space-around;
  flex-grow: 1;
}

input {
  outline: 0;
  border-width: 0 0 2px;
  border-color: deepskyblue;
  width: 350px;
}
.btn-login {
  width: 100%;
  color: $White-color;
  background: $Primary-color;
  margin: 40px 0;
  height: 40px;

  &:hover {
    color: #363333;
  }
}
#caraousel-container {
  padding: 10px 0;
}
